[user]
	name = Ryuta Kamizono
	email = kamipo@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[core]
	quotepath = false
	precomposeunicode = true
	excludesfile = ~/.gitignore
[push]
	default = upstream
[diff]
	algorithm = patience
[alias]
	s = status --short --branch
	st = status
	ci = commit
	co = checkout
	br = branch
	di = diff
	wd = diff --word-diff
	pu = pull
	pr = pull --rebase
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	tree = log --graph --pretty=oneline --abbrev-commit --decorate
[url "git@github.com:"]
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
