$if mysql
    "\C-xd": "show databases;"
    "\C-xt": "show tables;"
    "\C-x\C-t": "select table_name, engine, table_rows as tbl_rows, avg_row_length as rlen, floor((data_length+index_length)/1024/1024) as allMB, floor((data_length)/1024/1024) as dMB, floor((index_length)/1024/1024) as iMB from information_schema.tables where table_schema=database() order by (data_length+index_length) desc;"
    "\C-xu": "select user,host,password from mysql.user order by user,host;"
    "\C-xb": "select user,host,db       from mysql.db   order by user,host;"
    "\C-xc": "show create table TN\\G"
$endif
